.testimony-body {
  background-color: #f4f3ef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 4rem;
  padding-block: 4rem;
  overflow-y: scroll;
  padding-inline: 11px;
}
.testimonial-section {
  max-width: 1100px;
  text-align: left;
}
.tm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tm-h2 {
  font-size: 2rem;
}
.testimonial-text {
  color: #666;
  margin-bottom: 20px;
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.testimonial-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  flex: 1;
}
.stars {
  color: green;
  margin-bottom: 10px;
}
.testimonial-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 50%;
  background: #ddd;
}
.tm-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  height: full;
  margin-top: 20px;
  gap: 8px;
}
.tm-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tm-arrow-r {
  background-color: #272727;
  color: white;
}

@media (max-width: 768px) {
  .tm-arrows {
    display: none;
  }
}
